.App {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background: transparent;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 8px;
  border-radius: 1%; 
  background-color: antiquewhite;
}

form{
  height: 45em;
}

h1, h3 {
  text-align: center;
  color: black;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: light;
  color: black;
}

form input, form select {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

form input[type='range'] {
  width: 50vh;
}
form input{
  width: 50vh;
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #45a049;
}

form span {
  font-weight: bold;
  margin-left: 10px;
}

/* making the App form responsive */
@media screen and (max-width: 480px) {
  form input[type='range'] {
    width: 100%;
  }
}
